Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

More design/bug fixes
  src/features/SidebarLayout/SidebarLayout.svelte
  src/routes/verify/+page.svelte
  src/routes/verify/components/DragDropOverlay/DragDropOverlay.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoverySection.svelte
  src/routes/verify/components/NavigationPanel/NavigationPanel.svelte
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update lint rules
  .eslintrc.cjs
Due: none

Add self-closing tags, add linting on check
  package.json
  src/routes/verify/components/AssetInfo/CollapsibleSmallAssetInfo.svelte
  src/routes/verify/components/Compare/CompareView/NullState.svelte
  src/routes/verify/components/Compare/CompareView/Slider/NullState.svelte
  src/routes/verify/components/modals/LightboxModal/LightboxModal.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add do not train / AI model usage
  e2e/c2pa-test-image-service.config.ts
  e2e/verify/assertions.spec.ts
  locales/en-US.json
  src/lib/asset.ts
  src/lib/selectors/doNotTrain.ts
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/CreditAndUsageSection.svelte
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/ModelUsageSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove new lines
  src/lib/selectors/doNotTrain.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Working on TS fixes
  src/lib/analytics/plugins/dunamis.ts
  src/lib/config.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Added title tags for truncated text
  src/components/SocialMediaInfo/SocialMediaInfo.svelte
  src/features/SidebarLayout/SidebarLayout.svelte
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfoButton.svelte
  src/routes/verify/components/Compare/ComparePanel/CompareAsset.svelte
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/WebsiteSubSection.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/IngredientsSection.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add token to stage-deploy.yml
  .github/workflows/stage-deploy.yml
Due: none

Update dev-deploy.yml
  .github/workflows/dev-deploy.yml
Due: none

Analytics WIP
  package.json
  pnpm-lock.yaml
  src/lib/analytics/plugins/dunamis.ts
  src/lib/analytics/plugins/newrelic.ts
  src/lib/analytics/plugins/types.d.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update logos
  assets/svg/color/logos/adobe-firefly.svg
  assets/svg/color/logos/facebook.svg
  assets/svg/color/logos/truepic.svg
  assets/svg/color/logos/twitter.svg
  src/lib/asset.ts
  src/lib/providers.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated thumbnail object to carry MIME type so we know if we can display it in the browser
  src/lib/asset.ts
  src/lib/formats.ts
  src/lib/thumbnail.ts
  src/routes/verify/components/Compare/CompareView/SideBySideImg.svelte
  src/routes/verify/components/Compare/CompareView/Slider/SliderView.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/EmptyState/EmptyState.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoverySection.svelte
  src/routes/verify/components/Thumbnail/BigThumbnail.svelte
  src/routes/verify/components/Thumbnail/SmallThumbnail.svelte
  src/routes/verify/components/Thumbnail/ThumbnailImage.svelte
  src/routes/verify/components/Thumbnail/ThumbnailSection.svelte
  src/routes/verify/components/Thumbnail/TreeThumbnail.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

More docblock
  src/lib/thumbnail.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update vitest
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update deps
  package.json
  pnpm-lock.yaml
  src/lib/selectors/generativeInfo.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix alignment, file names with DNGs without content credentials
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/NavigationPanel/NavigationPanel.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/ja-JP.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Added NewRelic provider
  etc/newrelic.html
  package.json
  pnpm-lock.yaml
  src/lib/analytics/index.ts
  src/lib/analytics/plugins/dunamis.ts
  src/lib/analytics/plugins/newrelic.ts
  src/lib/analytics/plugins/types.d.ts
  src/lib/analytics/provider.ts
  src/lib/analytics/providers/newrelic.ts
  src/lib/config.ts
  src/routes/+layout.svelte
  svelte.config.js
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update do not train logic
  e2e/c2pa-test-image-service.config.ts
  src/lib/selectors/doNotTrain.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix issue with thumbnail maximize button not showing
  package.json
  pnpm-lock.yaml
  src/routes/verify/+page.ts
  src/routes/verify/components/Thumbnail/BigThumbnail.svelte
  static/robots.txt
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Reset compare view on new asset
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add analytics events
  e2e/fixtures/no-thumbnail.jpeg
  e2e/verify/base.spec.ts
  src/components/LanguagePicker/LanguagePicker.svelte
  src/lib/asset.ts
  src/lib/manifestRecovery.ts
  src/routes/+layout.svelte
  src/routes/verify/+page.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/lib/dragDrop.ts
  src/routes/verify/lib/treeView.ts
  src/routes/verify/stores/asset.ts
  src/routes/verify/stores/c2paReader.ts
  src/routes/verify/stores/compareView.ts
  src/routes/verify/stores/manifestRecoverer.ts
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Poll every minute
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update test image
  e2e/fixtures/no-thumbnail.jpg
  e2e/verify/base.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add site config env vars
  .github/workflows/dev-deploy.yml
  .github/workflows/stage-deploy.yml
Due: none

Add style reference translation tags
  locales/en-US.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

updated hero to video per last weeks updates
  src/components/Home/hero/NewHero.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix language picker display in Windows
  src/components/LanguagePicker/LanguagePicker.svelte
  src/lib/analytics/providers/newrelic.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove unneeded option
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
  src/components/LanguagePicker/LanguagePicker.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix alignment and add language translations
  src/components/SidebarSection/ClosedBorderSection.svelte
  src/components/SidebarSection/CollapsibleSection.svelte
  src/components/SidebarSection/Section.svelte
  src/lib/asset.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/ActionsSection.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
  src/routes/verify/components/EmptyState/EmptyState.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/SearchForMatches.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Stop collapsible arrow from shrinking
  src/components/SidebarSection/CollapsibleSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix ID generation in logos, overlay in Firefox
  etc/rollup/plugins/svelte-svg.js
  src/components/SidebarSection/CollapsibleSection.svelte
  src/routes/verify/components/Thumbnail/BigThumbnail.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add support for HEIF
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
  src/lib/formats.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix issue where right column moves when tabbing, remove tab border for now on tree nodes
  src/routes/verify/components/TreeView/SVGTreeNode.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add readAsset error handling, fixed TreeNode keyboard events
  src/routes/verify/components/TreeView/SVGTreeNode.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
