Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add end-entity certificate for Connecticut Public Broadcasting
  static/trust/allowed.pem
Due: none

Add custom model support, update c2pa-js to 0.23.0
  e2e/fixtures/custom-model.jpg
  e2e/snapshot/assertions.spec.ts
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/selectors/generativeInfo.ts
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoThumbnailBase.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.spec.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/IngredientsSection.svelte
  src/routes/verify/components/Thumbnail/SmallThumbnail.svelte
  src/routes/verify/components/Thumbnail/ThumbnailImage.svelte
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update ingredient checks branch
  etc/packages/c2pa-0.22.6.tgz
  etc/packages/c2pa-0.23.1.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Fix issue with ingredient parsing
  etc/packages/c2pa-0.23.1.tgz
  pnpm-lock.yaml
Due: none

Update untrusted code to look for `general.error` instead of `claimSignature.mismatch`
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix SVG XSS vulnerability
  package.json
  pnpm-lock.yaml
  src/lib/thumbnail.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add `validationStatusByManifestLabel` function
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update `validationStatusByManifestLabel` function
  etc/packages/c2pa-0.23.1.tgz
  etc/packages/c2pa-0.23.2.tgz
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Pipe through runtime validation status to ingredients
  etc/packages/c2pa-0.23.2.tgz
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix iterable error
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add untrusted L1 icon and snapshot tests
  assets/svg/color/cr-icon-untrusted-fill.svg
  e2e/fixtures/LR_PS_expc_CAI.jpg
  e2e/snapshot/loading.spec.ts
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove `.only()` modifier
  src/lib/selectors/validationResult.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add new unrecognized state
  assets/svg/color/validation-invalid.svg
  assets/svg/color/validation-unrecognized.svg
  assets/svg/monochrome/alert.svg
  locales/en-US.json
  src/lib/selectors/validationResult.ts
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/ErrorBanner/ErrorBanner.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/vars.css
  tailwind.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Show data even if unrecognized
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix tests
  src/lib/selectors/validationResult.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update copy, try to fix test
  e2e/snapshot/loading.spec.ts
  locales/en-US.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix tests
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new approved end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new root cert
  static/trust/anchors.pem
Due: none

trust: add new end-entity cert and remove old one
  static/trust/allowed.pem
Due: none

trust: add amazon end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new certs
  static/trust/allowed.pem
Due: none

trust: add new cert
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new cert
  static/trust/allowed.pem
Due: none

Show the thumbnail when viewing an unrecognized image
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: reformat adobe root cert according to rfc1421
  static/trust/anchors.pem
Due: none

Download git LFS files during CI
  .github/workflows/build-test.yml
Due: none

trust: add new certs
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add snapshot test
  e2e/snapshot/loading.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove OTGP pseudo ingredient
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix for nested `dataHash.mismatch` errors
  e2e/fixtures/acr-nested-validation-result.jpg
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add samsung root cert
  static/trust/anchors.pem
Due: none

trust: add new end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new end-entity cert
  static/trust/allowed.pem
Due: none

Update to c2pa 0.24.2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

chore: add new cert to trust list
  static/trust/allowed.pem
Due: none

chore: remove old cert
  static/trust/allowed.pem
Due: none

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
