Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

fix+test
  e2e/c2pa-test-image-service.config.ts
  e2e/snapshot/assertions.spec.ts
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add PEM-based allowed list
  assets/certs/allowed.pem
  etc/packages/c2pa-0.17.7-trust-list-20240208.2.tgz
  etc/packages/c2pa-0.17.7-trust-list-ff65f35.tgz
  etc/rollup/plugins/hash-pem.js
  package.json
  pnpm-lock.yaml
  src/lib/sdk.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

End-entity certificate support
  etc/packages/c2pa-0.17.7-trust-list-20240208.2.tgz
  etc/packages/c2pa-0.17.7-trust-list-20240212.2.tgz
  etc/rollup/plugins/hash-pem.js
  etc/scripts/hash-pem.js
  package.json
  pnpm-lock.yaml
  src/components/Home/L2Overlay/L2Overlay.svelte
  src/lib/manifestRecovery.ts
  src/lib/sdk.ts
  src/routes/verify/stores/c2paReader.ts
  static/.gitignore
  static/_headers
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated path, added snapshot test
  e2e/fixtures/endentity-dog.jpg
  e2e/snapshot/loading.spec.ts
  etc/scripts/hash-pem.js
  src/lib/sdk.ts
  static/.gitignore
  static/no-cache/.gitignore
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add section in README
  README.md
  etc/scripts/hash-pem.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update allowed list
  assets/certs/allowed.pem
Due: none

Update c2pa-js, add certs
  assets/certs/allowed.pem
  etc/packages/c2pa-0.17.7-trust-list-20240212.2.tgz
  etc/packages/c2pa-0.17.7-trust-list-20240228.1.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add build-time validation for certs
  assets/certs/allowed.pem
  etc/scripts/hash-pem.js
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add issuer check
  etc/scripts/hash-pem.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add new settings-based trust config, update c2pa-js for embedded claim generator icon support
  assets/trust/store.cfg
  assets/trust/trust_anchors.pem
  pnpm-lock.yaml
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/components/Home/L2Overlay/L2Overlay.svelte
  src/lib/asset.ts
  src/lib/manifestRecovery.ts
  src/lib/sdk.ts
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/AppDeviceSection.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update c2pa-js to use version with trust list updates
  etc/packages/c2pa-0.17.7-trust-list-20240228.1.tgz
  etc/packages/c2pa-0.17.8-trust-list-20240307.1.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add snapshot test for generator icon
  e2e/fixtures/embedded-generator-icon.jpg
  e2e/snapshot/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Specify fixture source
  e2e/fixtures/CAICAI.HEIC
  e2e/snapshot/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Account for OTGP
  e2e/fixtures/CAICAI.HEIC
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update c2pa-rs to 0.31.0, fix embedded icon testing
  e2e/snapshot/assertions.spec.ts
  etc/packages/c2pa-0.17.8-trust-list-20240307.1.tgz
  etc/packages/c2pa-0.17.9-trust-list-20240315.1.tgz
  package.json
  pnpm-lock.yaml
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update c2pa-test-image-service
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Enable dataURIs for embedded icons for snapshot testing
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Upgrade percy CLI
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update percy core
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Try reverting to test-image-service v12
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Make sure we pin the c2pa-test-image-service to the exact version
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Pin c2pa-node to 0.5.7 for now
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update lockfile with override
  pnpm-lock.yaml
Due: none

Add toolchain file
  rust-toolchain.toml
Due: none

Revert @playwright/test change
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Revert percy versions
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Filter out success codes from validationResult
  locales/en-US.json
  src/lib/selectors/validationResult.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/ActionsSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update validation tests
  src/lib/selectors/validationResult.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add Pixelstream end-entity
  assets/certs/allowed.pem
Due: none

Make c2pa-node build on CI, remove manifest recovery message
  .github/workflows/build-test.yml
  .github/workflows/deploy-template.yml
  .github/workflows/format-json.yml
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoverySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add tmate
  .github/workflows/build-test.yml
Due: none

Add autodub content summaries
  etc/packages/c2pa-0.17.9-trust-list-20240315.1.tgz
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/selectors/autoDubInfo.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add unit tests
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.spec.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove unsupported text
  locales/en-US.json
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoverySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Lockfile update
  pnpm-lock.yaml
Due: none

Update c2pa-js
  package.json
  pnpm-lock.yaml
  src/lib/selectors/autoDubInfo.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add MOV support (video/quicktime)
  src/lib/formats.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .
