Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

More UI, add CDDL files
  assets/cddl/actions.cddl
  assets/cddl/assertion-metadata-common.cddl
  assets/cddl/assertion-metadata.cddl
  assets/cddl/asset-ref.cddl
  assets/cddl/asset-type.cddl
  assets/cddl/bmff-hash.cddl
  assets/cddl/bmff-merkle.cddl
  assets/cddl/boxes-hash.cddl
  assets/cddl/claim.cddl
  assets/cddl/cloud-data.cddl
  assets/cddl/collection-data-hash.cddl
  assets/cddl/common.cddl
  assets/cddl/data-box.cddl
  assets/cddl/data-hash.cddl
  assets/cddl/depthmap-gdepth.cddl
  assets/cddl/endorsement-target.cddl
  assets/cddl/font-actions.cddl
  assets/cddl/font-info.cddl
  assets/cddl/hashed-ext-uri.cddl
  assets/cddl/hashed-uri.cddl
  assets/cddl/ingredient.cddl
  assets/cddl/jsonld.cddl
  assets/cddl/max-tstr-length.cddl
  assets/cddl/rVals.cddl
  assets/cddl/regions-of-interest.cddl
  assets/cddl/soft-binding.cddl
  assets/cddl/training-mining.cddl
  assets/cddl/tstContainer.cddl
  assets/svg/monochrome/technical-info.svg
  src/routes/verify/components/L4View/Detail/DataView.svelte
  src/routes/verify/components/L4View/Detail/Nav.svelte
  src/routes/verify/components/L4View/Detail/TextEditor.svelte
  src/routes/verify/components/L4View/Detail/TreeNodeFormatter.svelte
  src/routes/verify/components/L4View/L4Detail.svelte
  src/routes/verify/components/L4View/TreeNode.svelte
  src/routes/verify/components/NavigationPanel/NavigationPanel.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
  src/routes/verify/stores/l4View.ts
  src/routes/verify/stores/verifyStore.ts
  tailwind.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

forgot to commit these from hackathon
  src/routes/verify/components/L4View/L4Detail.svelte
  src/routes/verify/components/L4View/L4TreeMap.svelte
  src/routes/verify/components/L4View/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Separate out visual testing step
  .github/workflows/build-test.yml
Due: none

Caching changes
  .github/workflows/build-test.yml
Due: none

Add comment
  .github/workflows/build-test.yml
Due: none

Add build step in synchronize
  .github/workflows/build-test.yml
Due: none

Really add step
  .github/workflows/build-test.yml
Due: none

Dump GitHub context
  .github/workflows/build-test.yml
Due: none

Update jest, use label name
  .github/workflows/build-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Disable fade on loading screen when prefersReducedMotion is active
  e2e/page.ts
  package.json
  pnpm-lock.yaml
  src/routes/verify/components/LoadingOverlay/LoadingOverlay.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

added issued on & turned date into slot
  locales/en-US.json
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoDate.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuer.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/AssetInfo/AssetInfoThumbnailBase.svelte
  src/routes/verify/components/AssetInfo/BigAssetInfo.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added slot to tree node
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove console.log
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove existing title sectin
  pnpm-lock.yaml
  src/routes/verify/components/Thumbnail/TreeThumbnail.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fixes try'
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoDate.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuer.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

missing shadow none fix
  assets/svg/monochrome/cr-icon-white-fill.svg
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix shadow none and svg
  assets/svg/color/cr-icon-white-fill.svg
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix slot
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoDate.svelte
  src/routes/verify/components/AssetInfo/AssetInfoThumbnailBase.svelte
  src/routes/verify/components/AssetInfo/BigAssetInfo.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added wait for actions
  e2e/snapshot/loading.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .
