Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Publish trust lists, make code load the new locations
  etc/scripts/hash-pem.js
  package.json
  pnpm-lock.yaml
  src/lib/sdk.ts
  static/no-cache/.gitignore
  static/trust/.gitignore
  static/trust/allowed.pem
  static/trust/anchors.pem
  static/trust/store.cfg
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

ad/modify temp trust list language for clarity
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

Update README
  README.md
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add header to sha256 file
  etc/scripts/hash-pem.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Added Wrapt certificate
  src/components/Home/L2Overlay/Popup.svelte
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update setup-node to v4
  .github/workflows/build-test.yml
  .github/workflows/deploy-template.yml
  .github/workflows/format-json.yml
Due: none

Add packageManager field
  package.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update c2pa-js to 0.21.1
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Revert lockfile version upgrade
  pnpm-lock.yaml
Due: none

Add translation fix
  package.json
  pnpm-lock.yaml
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update ProcessSection.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

several approved end-entity certs added
  static/trust/allowed.pem
Due: none

adds Digimarc to roots
  static/trust/anchors.pem
Due: none

fixes incorrect copy pasta for TikTok!
  static/trust/allowed.pem
Due: none

Update allowed issuers
  etc/scripts/hash-pem.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add RNC and Digimarc end-entity
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update c2pa to 0.22.2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add `CLOUDINARY LTD` end-entity
  static/trust/allowed.pem
Due: none

Update `c2pa` to `0.22.4`
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update c2pa to 0.22.5
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update c2pa to 0.22.6 (adds watermarking icon)
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update the recursive ingredient checking branch
  etc/packages/c2pa-0.22.6.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add root certification for Microsoft RNC
  static/trust/anchors.pem
Due: none

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
