Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Clean README
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  etc/scripts/gh-preview.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new end-entity certificates
  static/trust/allowed.pem
Due: none

trust: add new certificates to the trust list
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

feat: Update trust list, display cert common name
  .github/workflows/build-test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/sdk.ts
  src/lib/selectors/appOrDeviceUsed.ts
  static/trust/anchors.pem
  static/trust/store.cfg
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

ci: disable failing tests
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
  e2e/snapshot/mobile.spec.ts
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: use claim generator info for L2 display
  src/components/Home/L2Overlay/Popup.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: common name only for 2.x manifests, L2 popover cleanup
  package.json
  pnpm-lock.yaml
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/selectors/appOrDeviceUsed.ts
  src/lib/selectors/is2xManifest.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Revert "fix: common name only for 2.x manifests, L2 popover cleanup (#313)"
  package.json
  pnpm-lock.yaml
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/selectors/appOrDeviceUsed.ts
  src/lib/selectors/is2xManifest.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Revert "feat: Update trust list, display cert common name (#310)"
  .github/workflows/build-test.yml
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
  e2e/snapshot/mobile.spec.ts
  e2e/snapshot/tree.spec.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/asset.ts
  src/lib/sdk.ts
  src/lib/selectors/appOrDeviceUsed.ts
  static/trust/anchors.pem
  static/trust/store.cfg
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: use old SDK, temporarily merge trustlists
  etc/packages/c2pa-0.25.0.tgz
  etc/packages/c2pa-0.30.11.tgz
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/sdk.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: dep + workspace updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: pnpm workspace + skip failing tests
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
  e2e/snapshot/mobile.spec.ts
  e2e/snapshot/tree.spec.ts
  pnpm-workspace.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: L2 popup fix
  src/components/Home/L2Overlay/Popup.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new certs to trust list
  static/trust/anchors.pem
  static/trust/store.cfg
Due: none

fix: show untrusted images
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
  e2e/snapshot/mobile.spec.ts
  e2e/snapshot/tree.spec.ts
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
