Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: new end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new end-entity cert
  static/trust/allowed.pem
Due: none

trust: add end-entity certificate
  static/trust/allowed.pem
Due: none

chore: bump `c2pa-js` version to `0.28.3`
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add new root certs
  static/trust/anchors.pem
Due: none

trust: add new end-entity certificate
  static/trust/allowed.pem
Due: none

chore: Update SDK
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add new certificates to trust list
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

chore: Update SDK
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/validationResult.ts
  src/routes/+layout.ts
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/CreditAndUsageSection.svelte
  src/routes/verify/stores/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

preparations to move this repo to the C2PA. Removes main page, adds Apache 2, removes search for matches
  LICENSE
  NOTICE
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/error.ts
  src/lib/manifestRecovery.ts
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoveryItem.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestRecoverySection.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/SearchForMatches.svelte
  src/routes/verify/components/NavigationPanel/ManifestRecovery/SearchResults.svelte
  src/routes/verify/components/NavigationPanel/NavigationPanel.svelte
  src/routes/verify/stores/hierarchyView.ts
  src/routes/verify/stores/manifestRecoverer.ts
  src/routes/verify/stores/recoveredManifest.ts
  src/routes/verify/stores/verifyStore.ts
  src/vars.css
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: new end-entity certificate
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new end-entity certificates
  static/trust/allowed.pem
Due: none

fix: oopsi
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

fix: commit hooks
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

trust: add new end-entity and root certificates
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

fix: lint
  etc/newrelic.html
  src/app.html
  src/components/Home/hero/NewHero.svelte
  src/components/Home/homepage/Home1.svelte
  src/components/Home/homepage/Home3.svelte
  src/components/Home/homepage/Home4.svelte
  src/components/Home/homepage/HowItWorks.svelte
  src/components/Home/homepage/KeyPoints.svelte
  src/components/Home/homepage/Movement.svelte
  src/components/Home/homepage/Powered.svelte
  src/components/Home/homepage/Stories.svelte
  src/components/Home/homepage/Trust.svelte
  src/components/LanguagePicker/LanguagePicker.svelte
  src/hooks.server.ts
  src/lib/analytics/index.ts
  src/lib/analytics/provider.ts
  src/lib/analytics/providers/newrelic.ts
  src/routes/+layout.svelte
  src/routes/verify/+page.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/lib/treeView.ts
  src/routes/verify/stores/asset.ts
  src/routes/verify/stores/c2paReader.ts
  src/routes/verify/stores/compareView.ts
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: tests:
  e2e/snapshot/recovery.spec.ts
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/AppDeviceSection.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: error icon
  src/routes/verify/components/ErrorBanner/ErrorBanner.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Test [DO NOT MERGE]
  src/app.html
Due: none

trust: add new end-entity certificates
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: update footer
  src/components/Footer/Footer.svelte
  src/global.d.ts
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Test contrib from non-Adobe account
  README.md
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .
