Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Correct error page display
  src/routes/+error.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Correct icon shrinking with long text
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Correct row alignment with no icon
  src/routes/verify/components/IconContentRow/IconContentRow.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix XSS vector and allow all websites to be displayed
  e2e/c2pa-test-image-service.config.ts
  e2e/snapshot/assertions.spec.ts
  pnpm-lock.yaml
  src/components/SocialMediaInfo/SocialMediaInfo.svelte
  src/lib/selectors/website.ts
  src/lib/url.ts
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/SocialSubSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Added trust list testing code
  etc/packages/c2pa-0.17.5.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update test SDK file
  etc/packages/c2pa-0.17.5.tgz
Due: none

Update shrinkwrap
  pnpm-lock.yaml
Due: none

Try updating again
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

Update again
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

Add debug messages
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

More stuff
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

Update
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

Update trust list code
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

Update c2pa-rs code
  etc/packages/c2pa-0.17.5.tgz
  pnpm-lock.yaml
Due: none

almost done
  assets/svg/color/cr-icon-white-fill.svg
  src/routes/verify/components/TreeView/SVGTreeNode.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeLink.svelte
  src/routes/verify/components/TreeView/TreeNode.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add initial trust list support and UI
  etc/packages/c2pa-0.17.5-trust-list-cced3e0.tgz
  etc/packages/c2pa-0.17.5.tgz
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/lib/selectors/validationResult.ts
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/ErrorBanner/ErrorBanner.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix bug
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add UI fix and Firefly test
  .gitattributes
  e2e/fixtures/firefly-labradoodle.jpg
  e2e/snapshot/loading.spec.ts
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Don't show logos if trust list validation fails
  etc/packages/c2pa-0.17.5-trust-list-25c9c31.tgz
  etc/packages/c2pa-0.17.5-trust-list-cced3e0.tgz
  package.json
  pnpm-lock.yaml
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/AppDeviceSection.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Don't show trust list message on OTGP (will be an error soon anyway), restore if statement for snapshot testing
  .github/workflows/build-test.yml
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add der to p1363 fix with updated c2pa lib
  etc/packages/c2pa-0.17.5-trust-list-25c9c31.tgz
  etc/packages/c2pa-0.17.5-trust-list-dee1aeb.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update trust list build
  etc/packages/c2pa-0.17.5-trust-list-dee1aeb.tgz
  pnpm-lock.yaml
Due: none

transition test
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeL1Layover.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Full css solution for TreeAssetInfo
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Dump github context
  .github/workflows/build-test.yml
Due: none

Make conditionals clearer
  .github/workflows/build-test.yml
Due: none

Test on label name
  .github/workflows/build-test.yml
Due: none

fixed the transition
  locales/en-US.json
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

cleaned PR
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeL1Layover.svelte
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
