Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

feat: update SDK + display common name
  package.json
  pnpm-lock.yaml
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/sdk.ts
  src/lib/selectors/appOrDeviceUsed.ts
  src/lib/selectors/is2xManifest.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: show untrusted timestamp as untrusted in UI
  src/lib/selectors/validationResult.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: remove unused local package
  etc/packages/c2pa-0.30.11.tgz
Due: none

test: skip failing tests
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/compare.spec.ts
  e2e/snapshot/loading.spec.ts
  e2e/snapshot/mobile.spec.ts
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: ai tool display
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/asset.ts
  src/lib/selectors/generativeInfo.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/AISubSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: update SDK
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: clean up app or device used logic
  src/lib/asset.ts
  src/lib/selectors/appOrDeviceUsed.ts
  src/lib/selectors/generativeInfo.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: update c2pa rs
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add new root certificate
  static/trust/anchors.pem
Due: none

trust: add new end-entity certificate
  static/trust/allowed.pem
Due: none

fix: update js sdk
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: Some validation errors are thrown as exceptions
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: asset reference assertion schema
  src/lib/selectors/website.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: removing landing page
  src/components/Home/L2Overlay/L2Overlay.svelte
  src/components/Home/L2Overlay/Popup.svelte
  src/components/Home/header/Header.svelte
  src/components/Home/hero/NewHero.svelte
  src/components/Home/homepage/Home1.svelte
  src/components/Home/homepage/Home2.svelte
  src/components/Home/homepage/Home3.svelte
  src/components/Home/homepage/Home4.svelte
  src/components/Home/homepage/HowItWorks.svelte
  src/components/Home/homepage/KeyPoints.svelte
  src/components/Home/homepage/Movement.svelte
  src/components/Home/homepage/Orgs.svelte
  src/components/Home/homepage/Powered.svelte
  src/components/Home/homepage/Stories.svelte
  src/components/Home/homepage/Trust.svelte
  src/routes/+page.svelte
  src/routes/verify/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: remove all contentcredentials.org
  README.md
  src/app.html
  src/lib/config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: tests
  e2e/page.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: removed www
  src/app.html
Due: none

fix: remove APP_NAME
  src/lib/config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
