Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Rollback files in static/trust to commit a353ec5 (Dec 19 2025)
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

Remove Nikon certificates from trust list
  static/trust/allowed.pem
  static/trust/anchors.pem
Due: none

refactor: migrate to c2pa-web SDK and native crJSON
  .gitignore
  e2e/c2pa-migration-test.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/lib/asset.ts
  src/lib/exif.ts
  src/lib/sdk.ts
  src/lib/selectors/appOrDeviceUsed.ts
  src/lib/selectors/autoDubInfo.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/is2xManifest.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/validationResult.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/lib/thumbnail.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/ActionsSection.svelte
  src/routes/verify/stores/c2paReader.ts
  src/routes/verify/stores/verifyStore.ts
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: implement two-pass legacy trust validation and UI banners
  e2e/c2pa-migration-test.spec.ts
  e2e/css-debug.spec.ts
  e2e/legacy_header_debug.png
  e2e/screenshot-debug.spec.ts
  src/lib/asset.ts
  src/lib/crjson.ts
  src/lib/sdk.ts
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/AssetInfo/BigAssetInfo.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: add Conformant badge and native tree-view pill styles
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeL1.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

refactor: align Conformant UI with strict C2PA attribution requirements
  src/lib/asset.ts
  src/lib/crjson.ts
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: correct legacy issuer data mapping and font sizing
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: Applying 'Conformant' or 'Legacy trust' labels to the implementations, not the assets
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeL1.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: restore Process section actions and official CAI iconography
  package.json
  pnpm-lock.yaml
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/ActionsSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: expand C2PA action dictionary and resolve Generative AI false positives
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/routes/verify/components/DetailedInfo/ProcessSection/ProcessSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: implement Zero-Trust validation for deep ingredients and optimize image rendering
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: add C2PA Conformance Explorer integration to Issued By section
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

feat: add detection and UI banner for pure 'Captured Media' provenance
  src/lib/asset.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

docs: update 'Issued By' tooltip to define Conformant vs Legacy badges
  locales/en-US.json
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: excise non-spec C2PA actions
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

review: fix validation regressions, add unit tests, clean up debug files
  e2e/c2pa-migration-test.spec.ts
  e2e/css-debug.spec.ts
  e2e/legacy_header_debug.png
  e2e/screenshot-debug.spec.ts
  src/lib/crjson.spec.ts
  src/lib/crjson.ts
  src/lib/selectors/validationResult.spec.ts
  src/lib/selectors/validationResult.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: fix all ESLint errors (103 → 0)
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/lib/asset.ts
  src/lib/crjson.ts
  src/lib/sdk.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/TreeView/TreeL1.svelte
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: fix all svelte-check TypeScript errors (35 → 0)
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/lib/asset.ts
  src/lib/crjson.ts
  src/lib/exif.ts
  src/lib/selectors/autoDubInfo.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/validationResult.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/stores/c2paReader.ts
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: resolve all svelte-check and SSR build errors after SDK migration
  package.json
  pnpm-lock.yaml
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/lib/asset.ts
  src/lib/crjson.ts
  src/lib/exif.ts
  src/lib/selectors/autoDubInfo.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/validationResult.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/stores/c2paReader.ts
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: correct doNotTrain entries lookup (object not array)
  src/lib/selectors/doNotTrain.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: apply Prettier formatting across TS and Svelte files
  e2e/c2pa-migration-test.spec.ts
  src/lib/crjson.spec.ts
  src/lib/sdk.ts
  src/lib/selectors/validationResult.spec.ts
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: Resolve svelte-check and SSR build errors in chore/fix-lint-errors (#386)
  package.json
  pnpm-lock.yaml
  src/components/EmbeddedIcon/EmbeddedIcon.svelte
  src/lib/asset.ts
  src/lib/crjson.ts
  src/lib/exif.ts
  src/lib/sdk.ts
  src/lib/selectors/autoDubInfo.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/editsAndActivity.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/validationResult.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/components/AssetInfo/AssetInfoIssuerDate.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/AboutSection.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/TreeView/TreeL1.svelte
  src/routes/verify/stores/c2paReader.ts
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: pass --port correctly to vite in playwright webServer config
  playwright.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Disable Playwright steps in build-test workflow
  .github/workflows/build-test.yml
Due: none

Disable snapshot testing in build-test workflow
  .github/workflows/build-test.yml
Due: none

perf: optimize Svelte mobile viewports reactivity loops, integrate Verifiable Social Accounts UI, and harden E2E harnesses
  e2e/fixtures/cors_server.py
  playwright.config.ts
  src/lib/asset.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

test: disable E2E snapshot tests, fix locator strict mode, and fix selector TypeScript compiler errors
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  e2e/c2pa-migration-test.spec.ts
  playwright.config.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/website.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: restore ingredient thumbnails with c2pa-web
  src/lib/asset.ts
  src/lib/resolveThumbnails.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: avoid silent fallback in ingredient thumbnail lookup
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: suppress ingredient thumbnails from untrusted manifests
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: detect untrusted containing manifest via validation status
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

refactor: remove unused producer and social accounts data parsing
  src/components/SocialMediaInfo/SocialMediaInfo.svelte
  src/lib/asset.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/socialAccounts.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

perf: optimize Svelte mobile drawer reactivity loops (#388)
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  e2e/c2pa-migration-test.spec.ts
  e2e/fixtures/cors_server.py
  playwright.config.ts
  src/components/SocialMediaInfo/SocialMediaInfo.svelte
  src/lib/asset.ts
  src/lib/selectors/doNotTrain.ts
  src/lib/selectors/generativeInfo.ts
  src/lib/selectors/producer.ts
  src/lib/selectors/reviewRatings.ts
  src/lib/selectors/socialAccounts.ts
  src/lib/selectors/web3Info.ts
  src/lib/selectors/website.ts
  src/routes/verify/stores/verifyStore.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: update c2pa-web to 0.9.0
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: update c2pa-web to 0.11.0
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

chore: update copyright header and comment formatting
  src/lib/asset.ts
  src/lib/resolveThumbnails.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix: restore ingredient thumbnails with c2pa-web (#389)
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
  src/lib/resolveThumbnails.ts
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Localization changes from Coronet
  locales/fi-FI.json
  locales/ja-JP.json
  locales/zh-CN.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
