Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#130)
  src/components/Home/homepage/Home3.svelte
  src/components/Home/homepage/HowItWorks.svelte
  src/components/Home/homepage/Powered.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to link and og image
  src/components/Home/homepage/Powered.svelte
  src/routes/+page.svelte
  static/opengraph.png
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#131)
  src/components/Home/homepage/HowItWorks.svelte
  src/components/Home/homepage/Powered.svelte
  src/routes/+page.svelte
  static/opengraph.png
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

cr112
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#132)
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to cr112
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added new assets and responsiveness for logo strip
  assets/svg/logos/homepage/Adobe.svg
  assets/svg/logos/homepage/CameraBits.png
  assets/svg/logos/homepage/Leica.svg
  assets/svg/logos/homepage/Microsoft.svg
  assets/svg/logos/homepage/Nikon.svg
  assets/svg/logos/homepage/Publicis.svg
  assets/svg/logos/homepage/Trupic.svg
  src/components/Home/homepage/Orgs.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage pari beta (#134)
  assets/svg/logos/homepage/Adobe.svg
  assets/svg/logos/homepage/CameraBits.png
  assets/svg/logos/homepage/Leica.svg
  assets/svg/logos/homepage/Microsoft.svg
  assets/svg/logos/homepage/Nikon.svg
  assets/svg/logos/homepage/Publicis.svg
  assets/svg/logos/homepage/Trupic.svg
  src/components/Home/L2Overlay/Popup.svelte
  src/components/Home/homepage/HowItWorks.svelte
  src/components/Home/homepage/Orgs.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#133)
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to hiw assets for android mobile
  assets/video/how-it-works-1.mp4
  assets/video/how-it-works-2.mp4
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

adding missed assets
  assets/svg/logos/homepage/Leica.svg
  assets/svg/logos/homepage/Microsoft.svg
  assets/svg/logos/homepage/Nikon.svg
  assets/svg/logos/homepage/Publicis.svg
  assets/svg/logos/homepage/Trupic.svg
Due: none

Homepage (#135)
  assets/svg/logos/homepage/CameraBits.png
  assets/svg/logos/homepage/Nikon.svg
  assets/video/how-it-works-1.mp4
  assets/video/how-it-works-2.mp4
  src/components/Home/homepage/HowItWorks.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fixing justify center for logo strip
  src/components/Home/homepage/Orgs.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to opengraph
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fixing justify center for logo strip (#137)
  src/components/Home/homepage/Orgs.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to hiw circle heights
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to cr pin
  assets/svg/logos/homepage/pin.svg
  src/components/Home/L2Overlay/L2Overlay.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added correct camerabits image
  assets/svg/logos/homepage/CameraBits.png
Due: none

Homepage pari hotfix (#138)
  assets/svg/logos/homepage/CameraBits.png
Due: none

final header responsiveness added
  src/components/Home/header/Header.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage pari hotfix (#139)
  src/components/Home/header/Header.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

dynamically passing alt text for images in l2 overlay, and changed og title
  src/components/Home/L2Overlay/L2Overlay.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#136)
  assets/svg/logos/homepage/pin.svg
  src/components/Home/L2Overlay/L2Overlay.svelte
  src/components/Home/homepage/HowItWorks.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to circle padding
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#140)
  src/components/Home/homepage/HowItWorks.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

update to seo title
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to seo title
  src/app.html
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#141)
  src/app.html
  src/components/Home/homepage/HowItWorks.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fixing corrupted nikon svg
  assets/svg/logos/homepage/Nikon.svg
Due: none

Homepage pari hotfix (#142)
  assets/svg/logos/homepage/Nikon.svg
Due: none

added gap in logo strip for desktop larger than 1280px
  src/components/Home/homepage/Orgs.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to metadata new approach
  src/components/Home/L2Overlay/Popup.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Homepage (#143)
  assets/svg/logos/homepage/Nikon.svg
  src/components/Home/L2Overlay/Popup.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

hardcoded metadata
  src/app.html
Due: none

Homepage (#145)
  assets/svg/logos/homepage/Nikon.svg
  src/app.html
  src/components/Home/L2Overlay/Popup.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed sveltehead metadata
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to hardcoded metadata
  src/app.html
Due: none

Homepage (#147)
  assets/svg/logos/homepage/Nikon.svg
  src/app.html
  src/routes/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update static image URLs
  src/app.html
Due: none

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
