Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Wait for images to load
  README.md
  e2e/verify/page.ts
  package.json
  pnpm-lock.yaml
  src/routes/verify/components/TreeView/TreeNode.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Wait for at least one node in the tree view
  e2e/verify/base.spec.ts
  e2e/verify/page.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add debugging timer
  e2e/verify/base.spec.ts
  e2e/verify/page.ts
  playwright.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add datauri rendering option for thumbnails
  .github/workflows/build-test.yml
  .percy.yml
  e2e/verify/page.ts
  src/global.d.ts
  src/lib/asset.ts
  src/lib/thumbnail.ts
  vite.config.js
  vite.config.js.timestamp-1694085449856.mjs
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove temp vite file
  .gitignore
  vite.config.js.timestamp-1694085449856.mjs
Due: none

Increase idle timeout for Safari
  .percy.yml
  e2e/verify/base.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add snapshot config
  .percy.yml
  svelte.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add hack for Safari on Percy
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove auto adapter
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Attempt to fix layout issue in Percy
  src/components/LegalSection/LegalSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Second try
  src/components/LegalSection/LegalSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

side by side styling
  assets/svg/monochrome/emptyImageGray.svg
  locales/en-US.json
  src/routes/verify/+page.svelte
  src/routes/verify/components/AssetInfo/CollapsibleSmallAssetInfo.svelte
  src/routes/verify/components/Compare/CompareInfo/CompareInfo.svelte
  src/routes/verify/components/Compare/ComparePanel/CompareAsset.svelte
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed isActive
  src/routes/verify/components/AssetInfo/AssetInfoThumbnailBase.svelte
  src/routes/verify/components/AssetInfo/CollapsibleSmallAssetInfo.svelte
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/Thumbnail/SmallThumbnail.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates to bg
  .husky/pre-commit
  assets/png/CAI_White.png
  assets/png/Circles.png
  assets/png/Facebook.png
  assets/png/Frame.png
  assets/png/Frame2.png
  assets/png/Frame3.png
  assets/png/Frame4.png
  assets/png/Frame5.png
  assets/png/Frame6.png
  assets/png/LinkedIn.png
  assets/png/Twitter.png
  assets/png/Vector.png
  assets/png/c2patool@2x.png
  assets/png/create@2x.png
  assets/png/edit@2x.png
  assets/png/layers2x.png
  assets/png/sharing@2x.png
  assets/png/verify.png
  assets/png/viewing@2x.png
  package.json
  pnpm-lock.yaml
  src/components/Footer/NewFooter.svelte
  src/components/Hero/Hero.svelte
  src/components/Homepage/Home1.svelte
  src/components/Homepage/Home2.svelte
  src/components/Homepage/Home3.svelte
  src/components/Homepage/Home4.svelte
  src/components/Homepage/Home5.svelte
  src/components/Homepage/Home6.svelte
  src/components/Homepage/Home7.svelte
  src/routes/+page.svelte
  tailwind.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

null state component
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
  src/routes/verify/components/Compare/CompareView/NullState.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update logos
  assets/svg/color/cc-invalid.svg
  assets/svg/color/logos/L1.svg
  assets/svg/color/logos/L1Grey.svg
  assets/svg/monochrome/cr-fill.svg
  assets/svg/monochrome/cr-transparent.svg
  locales/en-US.json
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  static/favicon.png
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix tree view and remove manif tooltip
  src/routes/verify/components/NavigationPanel/ManifestRecovery/ManifestTooltip.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

slider start
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/routes/verify/+page.svelte
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown.svelte
  src/routes/verify/components/Compare/CompareView/Side-by-Side.svelte
  src/routes/verify/components/Compare/CompareView/Slider.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

EXIF wip
  .gitignore
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/asset.ts
  src/lib/exif.ts
  src/routes/verify/components/DetailedInfo/CameraCaptureSection/CameraCaptureSection.svelte
  src/routes/verify/components/DetailedInfo/DetailedInfo.svelte
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

done base need to clean up slider
  locales/en-US.json
  package.json
  pnpm-lock.yaml
  src/routes/verify/+page.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown.svelte
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
  src/routes/verify/components/Compare/CompareView/Slider.svelte
  src/routes/verify/stores/compareView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed unnecesary images , fill color svg , and multiple class styling
  assets/sample-images/emptyImage.svg
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  assets/svg/monochrome/Vector.svg
  assets/svg/monochrome/emptyImage.svg
  assets/svg/monochrome/emptyImageGray.svg
  pnpm-lock.yaml
  src/routes/verify/+page.svelte
  src/routes/verify/components/Compare/CompareView/NullState.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Added scroll bars
  src/features/SidebarLayout/SidebarLayout.svelte
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

ring padding
  assets/sample-images/emptyImage.svg
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  assets/svg/monochrome/Vector.svg
  assets/svg/monochrome/back-arrow.svg
  assets/svg/monochrome/compare.svg
  assets/svg/monochrome/emptyImageGray.svg
  src/features/SidebarLayout/SidebarLayout.svelte
  src/routes/verify/components/AssetInfo/CollapsibleSmallAssetInfo.svelte
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
  src/routes/verify/components/Compare/CompareView/SideBySideImg.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove images
  assets/sample-images/emptyImage.svg
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  src/features/SidebarLayout/SidebarLayout.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove vector
  assets/svg/monochrome/Vector.svg
Due: none

slider remove unnecessary css
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
  src/routes/verify/components/Compare/CompareView/Slider/SliderView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed unnecessary images
  assets/sample-images/emptyImage.svg
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  assets/svg/monochrome/Vector.svg
Due: none

EXIF JSON wip
  locales/en-US.json
  src/components/FormattedDateTime/FormattedDateTime.svelte
  src/lib/asset.ts
  src/lib/exif.ts
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedOnSection.svelte
  src/routes/verify/components/DetailedInfo/CameraCaptureSection/CameraCaptureSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add stage-deploy workflow
  .github/workflows/stage-deploy.yml
  .gitignore
  pnpm-lock.yaml
Due: none

dave PR changes
  src/routes/verify/components/AssetInfo/CollapsibleSmallAssetInfo.svelte
  src/routes/verify/components/Compare/CompareInfo/CompareInfo.svelte
  src/routes/verify/components/Compare/ComparePanel/CompareAsset.svelte
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed space
  src/routes/verify/components/Compare/ComparePanel/CompareAsset.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

remove _
  src/routes/verify/components/Compare/ComparePanel/Dropdown.svelte
  src/routes/verify/components/Compare/CompareView/Side-by-Side.svelte
  src/routes/verify/components/Compare/CompareView/Slider/NullState.svelte
  src/routes/verify/components/Compare/CompareView/Slider/SliderView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

dropdown component
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  assets/svg/monochrome/Vector.svg
  assets/svg/monochrome/emptyImageGray.svg
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/Dropdown.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropdownButton.svelte
  src/routes/verify/components/Compare/CompareView/Slider/SliderView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

fix dropdown
  assets/sample-images/fallback.png
  assets/sample-images/fallbackWithText.png
  assets/svg/monochrome/Vector.svg
  assets/svg/monochrome/emptyImageGray.svg
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/Dropdown.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropdownButton.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

button instead of a
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Only run on pushes to `main`
  .github/workflows/stage-deploy.yml
Due: none

Add Fastly purge
  .github/workflows/stage-deploy.yml
Due: none

Only run deploy on `main` push (again)
  .github/workflows/stage-deploy.yml
Due: none

test update
  src/components/Hero/Hero.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
