Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

changes:
  pnpm-lock.yaml
  src/routes/+page.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

chore: add root cert to trust list
  static/trust/anchors.pem
Due: none

chore: add end-entity cert to trust list
  static/trust/allowed.pem
Due: none

chore: add new certs to verify
  static/trust/allowed.pem
Due: none

trust: new end-entity certs
  static/trust/allowed.pem
Due: none

trust: add intermediate cert
  static/trust/anchors.pem
Due: none

trust: add new end-entity cert
  static/trust/allowed.pem
Due: none

trust: add end-entity cert
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: remove root cert from metapyxl
  static/trust/anchors.pem
Due: none

trust: add new root certificate for Fujifilm
  static/trust/anchors.pem
Due: none

add end-entity cert
  static/trust/allowed.pem
Due: none

use ubuntu-22.04 instead of ubuntu-latest
  .github/workflows/build-test.yml
Due: none

update playwright
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add end-entity cert to trust list
  static/trust/allowed.pem
Due: none

docs: update README
  README.md
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

docs: add link to new wiki page
  README.md
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add new end-entity certificate
  static/trust/allowed.pem
Due: none

trust: add end-entity certificate
  static/trust/allowed.pem
Due: none

Update workflow
  .github/workflows/build-test.yml
Due: none

Update to SDK test build
  etc/packages/c2pa-0.25.0.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update SDK
  etc/packages/c2pa-0.25.0.tgz
  pnpm-lock.yaml
Due: none

Update c2pa-js
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update SDK
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

fix: swap FF icon
  assets/svg/color/logos/adobe-firefly.svg
Due: none

trust: add new root certificate
  static/trust/anchors.pem
Due: none

Update pnpm version and lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Workflow update
  .github/workflows/build-test.yml
  .github/workflows/deploy-template.yml
  .github/workflows/format-json.yml
Due: none

trust: add end-entity certs
  etc/scripts/hash-pem.js
  static/trust/allowed.pem
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Implement CAWG reading
  e2e/fixtures/adobe_connected_identities.jpg
  e2e/snapshot/assertions.spec.ts
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new end-entity certs
  static/trust/allowed.pem
Due: none

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
