Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

remove truncate
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update trust list code to 290c44f
  etc/packages/c2pa-0.17.5-trust-list-290c44f.tgz
  etc/packages/c2pa-0.17.5-trust-list-dee1aeb.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

removed only
  e2e/snapshot/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add fixes for ARW/NEF support
  src/routes/verify/stores/c2paReader.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added zoom so images that fit the screen can pan
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added test
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed only
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

typo-fix
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added comment and fix formatting
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix cert loading
  etc/packages/c2pa-0.17.5-trust-list-290c44f.tgz
  etc/packages/c2pa-0.17.5-trust-list-ff65f35.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add snapshot tests
  e2e/fixtures/different-sig-types.jpg
  e2e/snapshot/loading.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Run Percy/tests on main branch
  .github/workflows/build-test.yml
Due: none

Add leading space
  .github/workflows/build-test.yml
Due: none

fix
  src/routes/verify/components/TreeView/TreeView.svelte
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update event_name
  .github/workflows/build-test.yml
Due: none

remove console
  src/routes/verify/lib/treeView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added wait for actions & timeout for zoom in/out
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added test for wheel
  e2e/snapshot/tree.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove spaces & only
  e2e/snapshot/tree.spec.ts
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix for unable to move tree (#190)
  e2e/snapshot/assertions.spec.ts
  e2e/snapshot/tree.spec.ts
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix LFS
  e2e/fixtures/fake-news.jpg
  e2e/fixtures/moonrise.jpg
  e2e/fixtures/no-thumbnail.jpg
Due: none

claim generator info type
  package.json
  pnpm-lock.yaml
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

edge cases
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add c2pa-0.17.7 with trust list code
  etc/packages/c2pa-0.17.5-trust-list-ff65f35.tgz
  etc/packages/c2pa-0.17.7-trust-list-ff65f35.tgz
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

changing L1 icon size
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add workflow_dispatch to build-test
  .github/workflows/build-test.yml
Due: none

added test
  e2e/c2pa-test-image-service.config.ts
  e2e/snapshot/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

new branch
  e2e/snapshot/tree.spec.ts
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added check for event
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove conosle
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

added formatter
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

unnecessary spaces
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removing everything parenthese
  src/lib/asset.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add PDF and AVI to format list
  src/lib/formats.ts
  src/routes/verify/components/Thumbnail/ThumbnailImage.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

tests added
  assets/svg/color/cr-icon-incomplete-fill.svg
  assets/svg/color/cr-icon-invalid-fill.svg
  e2e/fixtures/E-sig-CA.jpg
  e2e/snapshot/tree.spec.ts
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeAssetInfo.svelte
  src/routes/verify/components/TreeView/TreeL1.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

remove console + extra test
  e2e/snapshot/tree.spec.ts
  src/routes/verify/components/AssetInfo/SmallAssetInfo.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

triple =
  src/routes/verify/components/TreeView/TreeL1.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
