Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

update
  src/components/Hero/Hero.svelte
  tests/hero.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

update
  e2e/apply/base.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

update
  e2e/base.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates
  e2e/base.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

update
  src/components/Hero/Hero.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

removed import
  src/routes/verify/components/Compare/ComparePanel/ComparePanel.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/Dropdown.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropdownButton.svelte
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
  src/routes/verify/stores/compareView.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

css variables
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropdownButton.svelte
  src/routes/verify/components/Compare/CompareView/Slider/SliderView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

type and remove conditional
  src/routes/verify/+page.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update locales/en-US.json
  locales/en-US.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update src/routes/verify/components/Compare/ComparePanel/Dropdown/Dropdown.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/Dropdown.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update src/routes/verify/components/Compare/CompareView/CompareView.svelte
  src/routes/verify/components/Compare/CompareView/CompareView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update src/routes/verify/components/Compare/CompareView/Side-by-Side.svelte
  src/routes/verify/components/Compare/CompareView/Side-by-Side.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
  src/routes/verify/components/Compare/ComparePanel/Dropdown/DropDownOptions.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update c2pa, add test image service to running
  .github/workflows/build-test.yml
  package.json
  pnpm-lock.yaml
  src/lib/exif.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add caching for test image service
  .github/workflows/build-test.yml
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
  pnpm-lock.yaml
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedOnSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update cr icons
  assets/svg/color/cc-incomplete.svg
  assets/svg/color/cc-invalid.svg
  assets/svg/color/cr-icon-incomplete.svg
  assets/svg/color/cr-icon-invalid.svg
  assets/svg/monochrome/cr-icon.svg
  assets/svg/monochrome/cr-transparent.svg
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates
  assets/png/cc.png
  assets/png/polarbear.png
  locales/en-US.json
  src/components/Hero/Hero.spec.ts
  src/components/Hero/Hero.svelte
  src/routes/cr/+page.svelte
  src/routes/cr/components/header/Header.svelte
  src/routes/cr/components/hero/Hero.svelte
  tailwind.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

updates
  e2e/apply/base.spec.ts
  tailwind.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add exif UI
  locales/en-US.json
  src/lib/exif.ts
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedBySection.svelte
  src/routes/verify/components/DetailedInfo/CameraCaptureSection/CameraCaptureSection.svelte
  src/routes/verify/components/TreeView/TreeView.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add debug snapshots for Percy
  .github/workflows/build-test.yml
  .gitignore
  .percy.json
  .percy.yml
  README.md
  e2e/c2pa-test-image-service.config.ts
  e2e/verify/assertions.spec.ts
  e2e/verify/page.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add sidebar test
  e2e/verify/base.spec.ts
  locales/en-US.json
  src/components/Hamburger/Hamburger.svelte
  src/features/SidebarMenu/SidebarMenu.svelte
  src/features/SidebarMenu/SidebarMenuItem.svelte
  src/features/SidebarMenu/SidebarMenuSection.svelte
  src/routes/verify/components/EmptyState/EmptyState.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Wait for map to finish loading
  e2e/verify/assertions.spec.ts
  locales/en-US.json
  src/routes/verify/components/DetailedInfo/CameraCaptureSection/CameraCaptureSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Allow mapbox in percy
  .percy.json
  e2e/verify/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove this
  e2e/verify/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Upload trace, add Playwright caching
  .github/workflows/build-test.yml
  playwright.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Use pnpm
  .github/workflows/build-test.yml
Due: none

Update workflow
  .github/workflows/build-test.yml
  e2e/verify/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Export mapbox token
  .github/workflows/build-test.yml
Due: none

Don't upload report
  .github/workflows/build-test.yml
Due: none

Add dom transformation in Percy
  e2e/verify/page.ts
  locales/en-US.json
  src/lib/exif.ts
  src/routes/verify/components/AssetInfo/AssetInfoBase.svelte
  src/routes/verify/components/DetailedInfo/AboutSection/IssuedOnSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Remove cr-fill icon
  assets/svg/monochrome/cr-fill.svg
Due: none

Rename `fDate` to `formatDate` for clarity
  src/components/FormattedDateTime/FormattedDateTime.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
