Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

.lintstagedrc:

{
  "*.{js,ts,css,md,svelte,json}": [
    "prettier --write --plugin prettier-plugin-svelte .",
    "prettier --check --plugin prettier-plugin-svelte ."
  ],
  "*.{js,ts,svelte}": "eslint"
}

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Updated by ALF automation.
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
  locales/zz-ZZ.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Update with V2 generative info support
  .github/workflows/build-test.yml
  package.json
  pnpm-lock.yaml
  src/components/Home/L2Overlay/Popup.svelte
  src/lib/selectors/generativeInfo.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.spec.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
  src/routes/verify/components/DetailedInfo/CreditAndUsageSection/AISubSection.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update test image service
  .github/workflows/build-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Add test for v2 actions
  e2e/c2pa-test-image-service.config.ts
  e2e/snapshot/assertions.spec.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update Percy packages
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Fix format
  e2e/c2pa-test-image-service.config.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Update deduping for genai objects
  src/lib/selectors/generativeInfo.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Add media type-aware GenAI content summaries, update current year, terms of service link
  locales/en-US.json
  src/components/Footer/Footer.svelte
  src/global.d.ts
  src/lib/asset.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.spec.ts
  src/routes/verify/components/DetailedInfo/ContentSummarySection/ContentSummarySection.svelte
  vite.config.js
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Fix lockfile
  pnpm-lock.yaml
Due: none

Update NodeJS to v20
  .github/workflows/build-test.yml
  .github/workflows/deploy-template.yml
  .github/workflows/format-json.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Pin PNPM to v8
  .github/workflows/build-test.yml
  .github/workflows/deploy-template.yml
  .github/workflows/format-json.yml
Due: none

Fix nvmrc
  .nvmrc
Due: none

Fix for translated text not appearing on home page L2
  src/components/Home/L2Overlay/Popup.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint
