Repository contentauth/verify-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

Apply locale JSON formatting changes
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

Localization changes from Coronet
  locales/cs-CZ.json
  locales/da-DK.json
  locales/de-DE.json
  locales/es-ES.json
  locales/fi-FI.json
  locales/fr-FR.json
  locales/hu-HU.json
  locales/it-IT.json
  locales/ja-JP.json
  locales/ko-KR.json
  locales/nb-NO.json
  locales/nl-NL.json
  locales/pl-PL.json
  locales/pt-BR.json
  locales/ru-RU.json
  locales/sv-SE.json
  locales/tr-TR.json
  locales/uk-UA.json
  locales/zh-CN.json
  locales/zh-TW.json
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte .

trust: add new end-entity certs
  static/trust/allowed.pem
Due: none

trust: add new end-entity certificate
  static/trust/allowed.pem
Due: none

feat: redirect from inspect
  src/routes/inspect/+page.svelte
Due: prettier --write --plugin prettier-plugin-svelte ., prettier --check --plugin prettier-plugin-svelte ., eslint

trust: add new timestamp root
  static/trust/anchors.pem
Due: none

Path conditions:
  prettier --write --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  prettier --check --plugin prettier-plugin-svelte .: any of: *.{js,ts,css,md,svelte,json}
  eslint: any of: *.{js,ts,svelte}
